it works
<body>
        <!-- Page Container -->
        <div class="container" style="max-width:1400px;margin-top:80px">
          <!-- The Grid -->
          <div class="row">
            <!-- Left Column -->
            <div class="column">
              <!-- Profile -->
              <div class="round_profile">
                <div class="container">
                  <h4 class="center">My Profile</h4>
                  <p class="center"><img src="https://i.pinimg.com/originals/6f/66/59/6f6659f80c2c5a7bd4b9a9b3d17474eb.jpg" class="circle" style="height:106px;width:106px" alt="Avatar"></p>
                </div>
              </div>
              <br>
        
        
              <!-- Interests -->
              <div class="sidenav">
                <!-- <a href="#about">Liked Posts</a> -->
                <!-- <a href="#services">Saved Posts</a> -->
                <a href="#clients">Settings</a>
                <!-- <a href="#contact">Smth</a> -->
              </div>
              <br>
              <!-- <div class="card">
                <div class="container">
                  <p>Interests</p>
                  <p>
                    <span class="tag">News</span>
                    <span class="tag">Labels</span>
                    <span class="tag">Games</span>
                    <span class="tag">Friends</span>
                    <span class="tag">Games</span>
                    <span class="tag">Friends</span>
                    <span class="tag">Food</span>
                    <span class="tag">Design</span>
                    <span class="tag">Art</span>
                    <span class="tag">Photos</span>
                  </p>
                </div>
              </div> -->
              <br>
              <!-- End Left Column -->
            </div>
        
            <!-- Middle Column -->
            <div class="">
        
              <div class="create-post">
                <div class="container">
                      <button type="button" class="button">New Post</button>
                </div>
              </div>
              <br>
              <!-- <hello name=""></hello> -->
              <p>
                Start editing to see some magic happen :)
              </p>
              <app-post></app-post>
              <!-- End Middle Column -->
            </div>
            <!-- End Grid -->
          </div>
        
          <!-- End Page Container -->
        </div>
        </body>